@use '../../variables/globalStyles.scss';

.book-page {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 300px 500px;
  grid-template-areas:
    'navigation navgation'
    'image content';
  gap: 20px;

  &__back-button {
    grid-area: navigation;
    @include globalStyles.button;
  }

  &__img {
    grid-area: image;
    width: 300px;
    max-height: 500px;
    object-fit: contain;
    height: auto;
  }

  &__content {
    grid-area: content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
