@use '../../variables/colors.scss';

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 16px;
  gap: 15px;
  justify-items: center;
  position: relative;
  border: 1px solid colors.$border-color;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;

  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__link {
    color: colors.$font-color;
  }

  &__like {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-size: 100%;

    &_liked {
      background-image: url('../../../public/icons/heart-filled.svg');
    }
    &_empty {
      background-image: url('../../../public/icons/heart-empty.svg');
    }
    &_broken {
      background-image: url('../../../public/icons/heart-broken.svg');
    }
  }
}
