@use '../../variables/colors.scss';

.ololo {
  text-decoration: none;
}

.card {
  position: relative;
  border: 1px solid colors.$border-color;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;

  &:hover {
    background-color: colors.$border-color-hovered;
  }

  &__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 16px;
    gap: 15px;
    justify-items: center;
    text-decoration: none;
  }

  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__title {
    color: colors.$font-color;
  }

  &__like {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-size: 100%;

    &_liked {
      background-image: url('/icons/heart-filled.svg');
    }
    &_empty {
      background-image: url('/icons/heart-empty.svg');
    }
    &_broken {
      background-image: url('/icons/heart-broken.svg');
    }
  }

  &__delete {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-size: 100%;
    background-image: url('/icons/trash-bin.svg');
  }

  &__like:hover,
  &__delete:hover {
    opacity: 0.8;
  }
}
